@{
    ViewData["Title"] = "Label Print";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="display-4 text-center">Здравейте!</h1>
        <form class="row mb-3" id="templateForm">
            <div class="col-12 mb-3">
                <div>Клиент</div>
                <div>
                    <select class="form-control" id="client" name="ClientId">
                        @for (int i = 0; i < ViewBag.Clients.Count; i++)
                        {
                            <option value="@ViewBag.Clients[i].Id">@ViewBag.Clients[i].Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div>Ключови думи</div>
                <div>
                    <strong>#name#</strong> - Име на клиента <br />
                    <strong>#address#</strong> - Адрес за кореспонденция <br />
                    <strong>#phone#</strong> - телефонен номер <br />
                    <strong>#fax# - факс </strong> <br />
                    <strong>#email#</strong> - ел. поща <br />
                </div>
            </div>
            <div class="col-12 mb-3">
                <div>Шаблон</div>
                <div>
                    <input type="hidden" id="template" name="Template" />
                    <div id="editor"></div>
                </div>
            </div>
            <div class="w-100 text-center">
                <button type="submit" class="btn btn-primary">генерирай етикет</button>
            </div>
        </form>
        <div class="row">
            <div class="col-6 m-auto">
                <img id="resultImage" src="" class="border rounded" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>

        Quill.prototype.getHtml = function () {
            return this.container.querySelector('.ql-editor').innerHTML;
        };

        const $client = document.getElementById('client');
        const $template = document.getElementById('template');
        const $form = document.getElementById('templateForm');
        const $img = document.getElementById('resultImage');
        const quill = new Quill('#editor', {
            theme: 'snow'
        });

        quill.on('text-change', (delta, oldDelta, source) => {
            const html = quill.getHtml()
            $template.value = html;
            console.log($template.value);
        });

        $form.addEventListener('submit', function ($event) {
            if ($event) {
                $event.preventDefault();
                $event.stopPropagation();
            }

            const data = {
                clientId: $client.value,
                template: $template.value
            };

            $.ajax({
                method: "POST",
                url: "/api/print",
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: (res) => {
                    const src = "data:image/png;base64," + res.data;
                    $img.setAttribute('src', src);
                },
                error: (error) => {
                    console.error(error);
                }
            })
        })
    </script>
}
